

<!DOCTYPE html>
<html>

    <body>
        <div class="container">
            <nav class="navbar navbar-default">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#nav" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="/profile"><span class="glyphicon glyphicon-home"></span></a>
                        {% if customer %}
                        <h4> Hello, {{customer.getName}}</h4>
                        {% endif %}
                    </div>
                    <div class="collapse navbar-collapse" id="nav">
                        <ul class="nav navbar-nav navbar-right">

                            <li>
                                <form class="form-inline navbar-form" action='/patron' method='post'>
                                    {% if customer %}
                                    <a class="btn btn-info form-control" href="/profile"> My Profile <span class="glyphicon glyphicon-glass
                                        "></span> </a>
                                    {% endif %}
                                    <div class="form-group">
                                        <input type="text" class="form-control" placeholder="New username" name='username'>
                                    </div>
                                    <button type="submit" class="btn btn-default">Sign Up</button>
                                </form>
                            </li>

                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Login <span class="caret"></span></a>
                                <ul class="dropdown-menu">
                                    <li>
                                        <form class="form-inline navbar-form" action='/logIn' method='post'>
                                            <div class="form-group">
                                                <label for="">Log In With Your Email:</label>
                                                <input type="text" class="form-control" placeholder="email" name='email'>
                                            </div>
                                            <div class="form-group">
                                                <label for="">Password:</label>
                                                <input type="text" class="form-control" placeholder="password" name='password'>
                                            </div>
                                            <button class="form-control btn btn-success" type="submit" class="btn btn-default">Go</button>
                                        </form>
                                        <form class="" action="/logOut" method="post">
                                            <button class="btn btn-danger" type="submit" name="button">Log Out</button>
                                        </form>
                                    </li>
                                    <li><a href="/products">Admin View</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>

            <br>
            <div class="jumbotron text-center">
                <h1>Shoppr</h1>
            </div>

            <div class="row">
                <div class="col-sm-2 well">

                    <form action='/search_products' method='post'>
                        <div class="form-group input-group">
                            <input type="text" class="form-control" placeholder="Search" name='search_input'>
                            <span class="input-group-btn"><button type="submit" class="btn btn-default"><span class='glyphicon glyphicon-search'></span></button></span>
                        </div>
                    </form>
                    <button class="btn-btn-info"><a href="/">Clear Filters</a></button>

                    <h4>Click to choose a category:</h4>
                    {% if categories is not empty %}
                    <ul>
                        {% for category in categories %}
                            <li><a href="/category/{{ category.getId }}">{{ category.getName }}</a></li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                </div>

                <div class="col-sm-8">
                    {% if products is not empty %}
                        <div class="row">
                            {% for product in products %}
                                <div class="col-sm-3 panel">
                                    <div class="panel-body">
                                        <img src="/uploads/{{ product.getPhoto }}" alt="Card image cap">
                                        <h4>{{ product.getName }}</h4>
                                        <p>Price per - ${{ product.getPrice }}</p>
                                        <p>{{ product.getInventory }} in stock</p>
                                        <form class="" action="/addToCart" method="post">
                                            <div class='form-group'>
                                                <label>Purchase quantity:</label>
                                                <input type="number" name="purchase_quantity" min=0 max='{{product.getInventory}}' class='form-control' required>
                                                <input type="hidden" name="product_id" value="{{product.getId}}">
                                            </div>
                                            <!-- customer not order -->
                                            {% if customer is empty%}
                                                <button class="btn btn-info" type="button" class="btn btn-primary"  data-toggle="modal" data-target="#myModal">Add to cart!</button>
                                            {% else %}
                                                <button class="btn btn-info" type="submit" class="btn btn-primary">Add to cart!</button>
                                            {% endif %}
                                        </form>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>

                    {% else %}
                        <h5>Sorry ... no known inventory! D-:</h5>
                    {% endif %}
                </div>
                <!-- cart area -->
                <div class="col-sm-2">
                    <h3>Your Cart</h3>
                    {% if order is not empty %}
                        <div class="cartContents">
                            <ul>
                                {% for product in order.getCart %}
                                <li><strong>{{product.getPurchaseQuantity}} {{product.getName}}</strong>
                                    <br><span class="smallFont">@ ${{product.getPrice}}
                                    = ${{product.calculateProductPrice}}</span>

                                <form class="trash" action="/deleteProductFromCart" method="post">
                                    <input type="hidden" name="_method" value="delete">
                                    <input type="hidden" name="product_id" value="{{product.getId}}">
                                    <button class="btn-danger btn-xs" type="submit" name="button">
                                        <span class= "glyphicon glyphicon-trash"></span></button>
                                </form></li>
                                {% endfor %}
                            </ul>
                        </div>

                        <p><strong>Total:</strong> ${{order.getTotal}}0</p>
                        <form class="" action="/checkOut" method="post">
                            <button class="btn btn-success" type="submit" name="button"> Checkout <span class="glyphicon glyphicon-shopping-cart"></span></button>
                        </form>

                    {% endif %}
                </div>
            </div>
        </div>
        <!-- sign in modal -->
        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
                <h1 class="modal-title" id="myModalLabel">Sign In</h1>
              </div>
              <div class="modal-body">
                  <!-- sign in div -->
                  <div class="hide confirmation">
                      <form class="" action="/customer/confirmation" method="post">
                          <h3>Enter Your confirmation code here:</h3>
                          <label for="">Email:</label>
                          <input class="form-control" type="text" name="email" value="" placeholder="CharlieDay@gmail.com">
                          <label for="">Confirmation Code:</label>
                          <input class="form-control" type="text" name="confirmation_code" value="" placeholder="confirmation_code">
                          <button  class="form-control btn btn-success" type="submit" name="button">Confirm</button>
                      </form>
                  </div>
                  <div class="logIn">
                      <h3>Log In</h3>
                      <h5 for="">Please Sign In to begin shopping</h5>
                      <form class=" " action="/logIn" method="post">
                          <label for="">Email:</label>
                          <input class="form-control" type="text" name="email" value="" placeholder="julioqt@email.com">
                          <label>Password</label>
                          <input class="form-control" type="text" name="password" value="" placeholder= "must be between 6-15 characters">
                          <button class="btn btn-success form-control" type="subumit" name="name" value="">Log In</button>

                      </form>
                  </div>
                  <label > Not a member? <a class="accordianSignUp">Sign-Up</a> today! Need to enter a confirmation code? <a class="confirmationRollUp"> Click here</a></label>
                  <!-- sign up div accordian -->
                  <div class="hide signUp">
                      <h3>Sign-UP</h3>
                      <form class="" action="/customer/add" method="post">
                          <label for="">Name:</label>
                          <input class="form-control" type="text" name="name" value="" placeholder="Charles Day">
                          <label for="">Email:</label>
                          <input class="form-control" type="text" name="email" value="" placeholder="CharlieDay@gmail.com">
                          <label for="">Address:</label>
                          <input class="form-control" type="text" name="address" value="" placeholder="8002 White Beach Lane">
                          <label for="">Password:</label>
                          <input class="form-control" type="text" name="password" placeholder="must be between 6-15 characters">
                          <label for="">Funds:</label>
                          <input class="form-control" type="number" name="funds"  value="0" disabled>
                          <button class="btn btn-success form-control" type="submit" name="button">Sign Up</button>
                      </form>
                  </div>
              </div>
              <div class="modal-footer">

              </div>
            </div>
          </div>
        </div>


    </body>
<!-- </html> -->
