<!DOCTYPE html>
<html>
  <head>
    <title>Products</title>
  </head>
  <body  {% if admin is empty%}
  class="bananas"
  {% endif %}
  >
  <div class="container">
    {% if admin is null %}
    <h3>You don't have permission to view this page </h3>
    <img class="fingerwag" src="http://cdn.niketalk.com/6/6b/900x900px-LL-6b6bfbe9_no-no-no-very-bad-man-Babu-Bhatt-seinfeld-gifs-finger-wag.gif" alt="" />
    {% else %}
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#nav" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/"><span class="glyphicon glyphicon-home"></span></a>
        </div>
        <div class="collapse navbar-collapse" id="nav">
          <ul class="nav navbar-nav navbar-right">
            <li>
              <form class="form-inline navbar-form" action="/logOut" method="post">
                <button class="btn btn-danger" type="submit" name="button">Log Out</button>
              </form>
            </li>
            <li>
              <form class="form-inline navbar-form" action="/categories">
                <button class="btn btn-success" type="submit" name="button">Categories</button>
              </form>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <h1>Enter / Modify Products Information</h1>
    <form action="/products_add" method="post" enctype="multipart/form-data">
      <div class="form-group">
        <label for="name">Name:</label>
        <input id="name" name="name" class="form-control" type="text" required>
      </div>
      <div class="form-group">
        <label for="price">Price:</label>
        <input id="price" name="price" class="form-control" type="float" min=0 required>
      </div>
      <div class="form-group">
        <label for="inventory">Inventory:</label>
        <input id="inventory" name="inventory" class="form-control" type="number" required>
      </div>
      <div class="form-group">
        <label for="category_id">Add Category:</label>
        <select id="category_id" name="category_id" type="text">
          <option></option>
          {% for category in categories %}
          <option value="{{ category.getId }}">{{ category.getName }}</option>
          {% endfor %}
        </select>
      </div>
      <input type="file" name="file" />
      <button class="btn btn-info">Add Product</button>
    </form>
    <br>
    <form action="/products_delete">
      <button class="btn btn-danger">Delete all products</button>
    </form>
    {% if products is not empty %}
    <h2>Here is a list of the current products:</h2>
    <h4>Click the name of the product to update.</h4>
    <div class="well product-table">
      <div class="row">
        <div class="col-sm-3">
          <h3>Name</h3>
        </div>
        <div class="col-sm-2">
          <h3>Price</h3>
        </div>
        <div class="col-sm-2">
          <h3>Inventory</h3>
        </div>
        <div class="col-sm-3">
          <h3>Photo</h3>
        </div>
        <div class="col-sm-2">
          <h3>Categories</h3>
        </div>
      </div>
      {% for product in products %}
      <div class="row">
        <div class="col-sm-3">
          <a href="/product_details/{{ product.getId }}">{{ product.getName }}</a>
        </div>
        <div class="col-sm-2">
          {{ product.getPrice }}
        </div>
        <div class="col-sm-2">
          {{ product.getInventory }}
        </div>
        <div class="col-sm-3">
          {% if product.getPhoto is empty %}
          <img src="/uploads/images.jpeg">
          {% else %}
          <img src="/uploads/{{ product.getPhoto }}">
          {% endif %}
        </div>
        <div class="col-sm-2">
          {% for category in product.getCategories %}
          <li>{{ category.getName }}</li>
          {% endfor %}
        </div>
      </div>
      {% endfor %}
    </div>
    {% endif %}
    <!-- moved endif from line 73 -->
    {% endif %}
  </div>
  <!--closes container div-->
  </body>
</html>
