<!DOCTYPE html>
<html>
    <head>
        <title>Shoppr Receipt</title>
    </head>
    <body>
        <h1>Here is your receipt, {{found_customer.getName}}. Thank you for shopping with us</h1>
        {{new_order.getOrderDate}}
        <hr>
        <h2>Shoppr Store</h2>
        <h2>5623 White Beach Lane</h2>
        <h2>Portland, Oregon, 97211</h2>
            {% if new_order.getCart is not empty %}
            <ul>
                {%for product in new_order.getCart %}
                <li><span> {{product.getPurchaseQuantity}} <span> {{ product.getName}} <span> ${{product.calculateProductPrice}}.00</span></li>
                    <li> @ {{product.getPrice}} each</li>
                {% endfor %}
            </ul>
            <hr>
            <p>Total: ${{new_order.getCartTotal}}.00</p>
            {%  endif %}
            <h3>Have a nice day!</h3>
   </body>
</html>
